option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: "False"
    PYTHONPATH: "/var/app/current:/var/app/current/code"
    
container_commands:
  01_download_nltk_data:
    command: |
      source /var/app/venv/*/bin/activate
      python -m pip install --upgrade nltk
      python -c "
      import nltk
      import ssl
      try:
          _create_unverified_https_context = ssl._create_unverified_context
      except AttributeError:
          pass
      else:
          ssl._create_default_https_context = _create_unverified_https_context
      nltk.download('punkt')
      nltk.download('stopwords')
      nltk.download('punkt_tab')
      print('NLTK data downloaded successfully')
      "
    leader_only: true
    ignoreErrors: false
    

